
<!-- <p>template refrence variablee</p>
<input type="text" #myInput>
<button (click)="onButtonClick(myInput.value)">Button</button>


<br>
<br>

<p> two Way Data Binding</p>
<h1>{{name}}</h1>
<input type="text" [(ngModel)]="name"/>
 -->




 <!--  #component interaction  when we want to share data b/w two components -->



<!-- EXAMPLE 2 --> 

<!-- <app-child [childData1]="firstName" [childData2]="lastName"></app-child> -->



<!-- EXAMPLE 3 -->
<!-- <app-child [childDetails]="userDetails" ></app-child> -->


<!-- EXAMPLE 4 -->
<!-- 
<h1>{{message}}</h1>
<app-child-to-parent (childEvent)="message=$event"></app-child-to-parent> -->


<app-employee></app-employee>
<app-employee-list></app-employee-list>